@font-face {
  font-family: Nephrite-Book;
  src: url("font/Nephrite Book.otf");
}

@font-face {
  font-family: Nephrite-Italic;
  src: url("font/Nephrite Italic.otf");
}

@font-face {
  font-family: Nephrite-Bold;
  src: url("font/Nephrite Bold.otf");
}

@font-face {
  font-family: Silent-Regular;
  src: url("font/silent_broadcast.ttf");
}

@font-face {
  font-family: Volvo-Regular;
  src: url("font/VolvoBroad.ttf");
}

@font-face {
  font-family: Roboto Light;
  src: url("font/Roboto-Light.ttf");
}

@font-face {
  font-family: Roboto Italic;
  src: url("font/Roboto-Italic.ttf");
}

@font-face {
  font-family: Roboto Bold;
  src: url("font/Roboto-Bold.ttf");
}
